@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;600;800&display=swap");

:root {
  --navbar-primary: #23403d;
  --navbar-text-primary: #f06c54;
  --background-primary: #fff4ec;
  --footer-primary: #28443c;
  --text-primary: #f06c54;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#sideNav a {
  display: flex;

  justify-content: space-evenly;
  align-items: center;
  min-height: 60px;
}

Link:active {
  color: grey;
  background-color: rgb(255, 255, 255);
}

li:hover {
  background-color: rgba(169, 169, 169, 0.568);
}

#alert-msg-container {
  min-width: 250px;
  top: 1rem;
  right: 1rem;
  z-index: 200;
  position: absolute;
}
